<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.2//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alphabuss.backoffice.dao.CargoMapper">
	
	
	<select id="cargosList" resultType="cargo">		
		SELECT 
    		c.idCargo as cargoId,
    		c.CargoNom as name,
    		c.CargoDesc as description
		FROM 
			Cargo c
	</select>
	
	<select id="getCargo" parameterType="cargo" resultType="cargo">
		SELECT 
    		c.idCargo as cargoId,
    		c.CargoNom as name,
    		c.CargoDesc as description
		FROM 
			Cargo c
		WHERE
			c.idCargo = #{cargoId}
	</select>
	
	<select id="validateRegisteredCargoName" parameterType="cargo" resultType="cargo">
		SELECT 
    		c.idCargo as cargoId,
    		c.CargoNom as name
    	FROM 
			Cargo c
    	WHERE
    		c.CargoNom = #{name}
	</select>
	
	<insert id="cargoRegister" parameterType="cargo" flushCache="true"
		useGeneratedKeys="true" keyProperty="roleId">
		INSERT INTO
			Cargo(CargoNom, CargoDesc, DatetimeIns)
		VALUES
			(#{name}, #{description}, NOW())
	</insert>
	
	<update id="cargoUpdate" parameterType="cargo" flushCache="true">
		UPDATE
			Cargo
		SET
			CargoNom = #{name},
			CargoDesc = #{description} 
		WHERE
			idCargo = #{cargoId}	 
	</update>

</mapper>