<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.2//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alphabuss.backoffice.dao.CompanyMapper">
	
	<resultMap id="empresaResult" type="empresa"  >
		<id column="EmpresaRUC" property="ruc" />
		<result column="EmpresaRazonSocial" property="razonSocial"/>
		<result column="EmpresaDireccion"  property="address"/>
		<result column="EmpresaMovil" property="mobilePhone"/>
		<result column="EmpresaFijo" property="homePhone"/>
		<result column="EmpresaPaginaWeb" property="webPage"/>
		<result  column="EmpresaEmail" property="email"/>
		<result  column="Empleados" property="nroEmpleados"/>
		<result  column="EmpresaEstado" property="status"/>
	</resultMap>
	
	<select id="companiesList" resultMap="empresaResult">		
		SELECT 
    		EmpresaRUC,
		    EmpresaRazonSocial,
		    EmpresaDireccion,
		    EmpresaMovil,
		    EmpresaFijo,
		    EmpresaPaginaWeb,
		    EmpresaEmail,
		    (SELECT count(*) 
			FROM Empleado e 
			WHERE e.Empresa_EmpresaRUC = EmpresaRUC) AS Empleados,
			EmpresaEstado			
		FROM 
			Empresa
	</select>
	
	<select id="getCompany" parameterType="empresa" resultMap="empresaResult">
	SELECT 
    		EmpresaRUC,
		    EmpresaRazonSocial,
		    EmpresaDireccion,
		    EmpresaMovil,
		    EmpresaFijo,
		    EmpresaPaginaWeb,
		    EmpresaEmail,
		    EmpresaEstado
		FROM 
			Empresa
		WHERE
			EmpresaRUC = #{ruc}
	</select>
	
	<insert id="addCompany" parameterType="empresa" flushCache="true">
		INSERT INTO
			Empresa(EmpresaRUC, EmpresaRazonSocial, EmpresaDireccion, EmpresaMovil, EmpresaFijo, EmpresaPaginaWeb,
			EmpresaEmail, EmpresaEstado)
		VALUES
			(#{ruc},#{razonSocial},#{address},#{mobilePhone},#{homePhone},#{webPage},#{email},#{status});
	</insert>
	
	<update id="updateCompany" parameterType="empresa" flushCache="true">
		UPDATE
			Empresa
		SET
			EmpresaRUC = #{ruc},
		    EmpresaRazonSocial = #{razonSocial},
		    EmpresaDireccion = #{address},
		    EmpresaMovil = #{mobilePhone},
		    EmpresaFijo = #{homePhone},
		    EmpresaPaginaWeb = #{webPage},
		    EmpresaEmail = #{email},
		    EmpresaEstado = #{status}
		WHERE
			EmpresaRUC = #{ruc}			 
	</update>
	

</mapper>