<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.2//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alphabuss.backoffice.dao.EmployeeMapper">
	
	<resultMap type="empleado" id="employeeRM">
		<id property="employeeId" column="idEmpleado"/>
		<result property="dni" column="EmpleadoDNI"/>
		<result property="firstName" column="EmpleadoNombre"/>
		<result property="lastName" column="EmpleadoApellidos"/>
		<result property="email" column="EmpleadoCorreo"/>
		<result property="status" column="EmpleadoEstado"/>
		<association property="cargo" column="Cargo_idCargo" resultMap="cargoRM"/>
		<association property="empresa" column="Empresa_EmpresaRUC" resultMap="empresaRM"/>
	</resultMap>
	
	<resultMap type="cargo" id="cargoRM">
		<id property="cargoId" column="idCargo"/>
		<result property="name" column="CargoNom"/>
		<result property="description" column="CargoDesc"/>
	</resultMap>
	
	<resultMap type="empresa" id="empresaRM">
		<id property="ruc" column="EmpresaRUC"/>
		<result property="razonSocial" column="EmpresaRazonSocial"/>
	</resultMap>
	
	<select id="employeesList" resultMap="employeeRM">		
		SELECT 
			e.idEmpleado,
		    e.EmpleadoDNI,
		    e.EmpleadoNombre,
		    e.EmpleadoApellidos,
		    e.EmpleadoCorreo,
		    e.EmpleadoEstado,
		    c.CargoNom,
            em.EmpresaRUC,
            em.EmpresaRazonSocial
		FROM 
			Empleado e INNER JOIN Cargo c ON e.Cargo_idCargo = c.idCargo
            INNER JOIN Empresa em ON e.Empresa_EmpresaRUC = em.EmpresaRUC	
	</select>
	
	<select id="employeesByRUC" parameterType="empresa" resultMap="employeeRM">
		SELECT 
			e.idEmpleado,
		    e.EmpleadoDNI,
		    e.EmpleadoNombre,
		    e.EmpleadoApellidos,
		    e.EmpleadoCorreo,
		    e.EmpleadoEstado,
		    c.CargoNom
		FROM
            Empleado e INNER JOIN Cargo c ON e.Cargo_idCargo = c.idCargo
        WHERE
        	e.Empresa_EmpresaRUC = #{ruc}
	</select>
	
	<select id="getEmployee" parameterType="empleado" resultMap="employeeRM">
		SELECT 
			e.idEmpleado,
		    e.EmpleadoDNI,
		    e.EmpleadoNombre,
		    e.EmpleadoApellidos,
		    e.EmpleadoCorreo,
		    e.EmpleadoEstado,
		    c.idCargo,
		    c.CargoNom,
			em.EmpresaRUC,
            em.EmpresaRazonSocial
		FROM 
			Empleado e INNER JOIN Cargo c ON e.Cargo_idCargo = c.idCargo
            INNER JOIN Empresa em ON e.Empresa_EmpresaRUC = em.EmpresaRUC	
		WHERE
			e.idEmpleado = #{employeeId}
	</select>
	
	<insert id="employeeRegister" parameterType="empleado" flushCache="true"
		useGeneratedKeys="true" keyProperty="employeeId">
		INSERT INTO
			Empleado
				(EmpleadoDNI,
				EmpleadoNombre,
				EmpleadoApellidos,
				EmpleadoCorreo,
				EmpleadoEstado,
				Cargo_idCargo,
				Empresa_EmpresaRUC)
		VALUES
			(#{dni}, 
			#{firstName}, 
			#{lastName},
			#{email},
			#{status},
			#{cargo.cargoId},
			#{empresa.ruc})
		
	</insert>
	
	<update id="employeeUpdate" parameterType="empleado" flushCache="true">
		UPDATE
			Empleado
		SET
			EmpleadoDNI = #{dni},
			EmpleadoNombre = #{firstName},
			EmpleadoApellidos = #{lastName},
			EmpleadoCorreo = #{email},
			EmpleadoEstado = #{status},
			Cargo_idCargo = #{cargo.cargoId},
			Empresa_EmpresaRUC = #{empresa.ruc}
		WHERE
			idEmpleado = #{employeeId}
	</update>

</mapper>