<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.2//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alphabuss.backoffice.dao.EmpresaMapper">
	
	<!-- Habilitar cacheado de querys en sentencias select -->

	
	<resultMap id="empresaResult" type="empresa"  >
		<id column="EmpresaRUC" property="ruc" />
		<result column="EmpresaRazonSocial" property="razonSocial"/>
		<result column="EmpresaDireccion"  property="direccion"/>
		<result column="EmpresaMovil" property="numeroMovil"/>
		<result column="EmpresaFijo" property="numeroFijo"/>
		<result column="EmpresaPaginaWeb" property="paginaWeb"/>
		<result  column="EmpresaEmail" property="email"/>
		<result  column="Empleados" property="nroEmpleados"/>
		<result  column="EmpresaEstado" property="estado"/>
	</resultMap>
	
	
	<select id="getListCompany"  resultMap="empresaResult">		
		SELECT 
    		EmpresaRUC,
		    EmpresaRazonSocial,
		    EmpresaDireccion,
		    EmpresaMovil,
		    EmpresaFijo,
		    EmpresaPaginaWeb,
		    EmpresaEmail,
		    (SELECT count(*) 
			FROM empleado e 
			WHERE e.Empresa_EmpresaRUC = EmpresaRUC
			GROUP BY EmpresaRUC) AS Empleados,
			EmpresaEstado
			
		FROM 
			empresa;
	</select>
	
	
	<select id="getCompanyByRUC" parameterType="Long" resultMap="empresaResult">
		SELECT 
    		EmpresaRUC,
		    EmpresaRazonSocial,
		    EmpresaDireccion,
		    EmpresaMovil,
		    EmpresaFijo,
		    EmpresaPaginaWeb,
		    EmpresaEmail,
		    EmpresaEstado
		FROM 
			Empresa
		WHERE
			EmpresaRUC = #{value}
	</select>
	
	
	<insert id="registerCompany" parameterType="empresa">
	 	INSERT INTO 
	 		Empresa
	 			(EmpresaRUC, EmpresaRazonSocial, EmpresaDireccion, EmpresaMovil, EmpresaFijo, EmpresaPaginaWeb, EmpresaEmail, EmpresaEstado)
		VALUES (
		    #{ruc},
		    #{razonSocial},
		    #{direccion},
		    #{numeroMovil},
		    #{numeroFijo},
		    #{paginaWeb},
		    #{email},
		    #{estado}
	 	) ON DUPLICATE KEY UPDATE
			    EmpresaRazonSocial = #{razonSocial},
			    EmpresaDireccion = #{direccion},
			    EmpresaMovil = #{numeroMovil},
			    EmpresaFijo = #{numeroFijo},
			    EmpresaPaginaWeb = #{paginaWeb},
			    EmpresaEmail = #{email},
			    EmpresaEstado = #{estado}
		
	 </insert>
	
	<update id="registerCompanyOTRO"  flushCache="true">
	 	INSERT INTO 
	 		Empresa
	 			(EmpresaRUC, EmpresaRazonSocial, EmpresaDireccion, EmpresaMovil, EmpresaFijo, EmpresaPaginaWeb, EmpresaEmail, EmpresaEstado)
		
<!-- 		VALUES (10447715440,'y','l','l','a','dd.com',null,null) -->
		VALUES (
	 		#{ruc},
		    #{razonSocial},
		    #{direccion},
		    #{numeroMovil},
		    #{numeroFijo},
		    #{paginaWeb},
		    #{email},
		    #{estado}
	 	)
 		
 		On Duplicate Key UPDATE
				EmpresaRUC = 10447715440,
			    EmpresaRazonSocial = 'y',
			    EmpresaDireccion = 'l',
			    EmpresaMovil = 'l',
			    EmpresaFijo = 'a',
			    EmpresaPaginaWeb = 'xxx',
			    EmpresaEmail = 'xxx',
			    EmpresaEstado = null
;
	
	 </update>
	 
	<update id="updateCompany" parameterType="empresa" flushCache="true">
		UPDATE
			Empresa
		SET
			EmpresaRUC = #{ruc},
		    EmpresaRazonSocial = #{razonSocial},
		    EmpresaDireccion = #{direccion},
		    EmpresaMovil = #{numeroMovil},
		    EmpresaFijo = #{numeroFijo},
		    EmpresaPaginaWeb = #{paginaWeb},
		    EmpresaEmail = #{email},
		    EmpresaEstado = #{estado}
		WHERE
			EmpresaRUC = #{ruc}			 
	</update>
	
	<insert id="addCompany" parameterType="empresa" flushCache="true">
		INSERT INTO
			Empresa(EmpresaRUC, EmpresaRazonSocial, EmpresaDireccion, EmpresaMovil, EmpresaFijo, EmpresaPaginaWeb,
			EmpresaEmail, EmpresaEstado)
		VALUES
			(#{ruc},#{razonSocial},#{direccion},#{numeroMovil},#{numeroFijo},#{paginaWeb},#{email},#{estado});
	</insert>
	
</mapper>