<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.2//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alphabuss.backoffice.dao.EventMapper">

	
	<select id="eventsList" resultType="evento">		
		SELECT 
			e.idEvento as eventId,
		    e.EventoNombre as name,
		    e.EventoCuposTotal as quotasTotal,
		    e.EventoInscritos as quotasRegistered,
		    e.EventoDisponible as quotasAvailable
		FROM 
			Evento e
	</select>
	
	<select id="getEvent" parameterType="evento" resultType="evento">
		SELECT 
			e.idEvento as eventId,
		    e.EventoNombre as name,
		    e.EventoCuposTotal as quotasTotal,
		    e.EventoInscritos as quotasRegistered,
		    e.EventoDisponible as quotasAvailable
		FROM 
			Evento e
		WHERE
			e.idEvento = #{eventId}
	</select>
	
	<insert id="eventRegister" parameterType="evento" flushCache="true"
		useGeneratedKeys="true" keyProperty="eventId">
		INSERT INTO 
			Evento
				(EventoNombre,
				EventoCuposTotal,
				DatetimeIns)
		VALUES
			(#{name}, #{quotasTotal}, NOW())
	</insert>
	
	<update id="eventUpdate" parameterType="evento" flushCache="true">
		UPDATE
			Evento
		SET
			EventoNombre = #{name},
			EventoDisponible = (#{quotasTotal} - EventoCuposTotal) + EventoDisponible,
			EventoCuposTotal = #{quotasTotal}
		WHERE
			idEvento = #{eventId}
	</update>

</mapper>