<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.2//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alphabuss.backoffice.dao.RoleMapper">
	
	
	<select id="rolesList" resultType="secRole">		
		SELECT 
    		r.RoleId,
    		r.Name,
    		r.Description	
		FROM 
			SecRole r
	</select>
	
	<select id="getRole" parameterType="secRole" resultType="secRole">
		SELECT 
    		r.RoleId,
    		r.Name,
    		r.Description	
		FROM 
			SecRole r
		WHERE
			r.RoleId = #{roleId}
	</select>
	
	<select id="validateRegisteredRoleName" parameterType="secRole" resultType="secRole">
		SELECT 
    		r.RoleId,
    		r.Name
    	FROM
    		SecRole r
    	WHERE
    		r.Name = #{name}
	</select>
	
	<insert id="roleRegister" parameterType="secRole" flushCache="true"
		useGeneratedKeys="true" keyProperty="roleId">
		INSERT INTO
			SecRole(Name, Description, DatetimeIns)
		VALUES
			(#{name}, #{description}, NOW())
	</insert>
	
	<update id="roleUpdate" parameterType="secRole" flushCache="true">
		UPDATE
			SecRole
		SET
			Name = #{name},
			Description = #{description} 
		WHERE
			RoleId = #{roleId}	 
	</update>

</mapper>